# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/

# JetBrains IDE settings
.idea/

# Prisma schema backups
prismaBackup.txt
prisma/prismaBackup.txt

# DBML output directory
prisma/dbml/
